* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#26a6fb, #036bd2);
  height: 100vh;
}

input::placeholder {
  color: rgb(40, 40, 40);
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* ...............header.................. */
header {
  width: 100%;
  background-color: rgb(218, 235, 249);
  padding: 20px 0;
  margin-bottom: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.logo {
  color: rgb(4, 4, 150);
}

.search-section {
  width: 80%;
  margin: 20px auto 0;
}

input[id="searchInput"] {
  border: 2px solid black;
  width: 100%;
  font-size: 16px;
  padding: 0.7em 1em;
  outline: none;
  background: transparent;
  border-radius: 5px;
}

.navbar-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nav-list button {
  font-size: 18px;
}

.nav-list button:hover {
  color: rgb(6, 6, 194);
}

/* .............Main............... */
main {
  width: 100%;
}

.display-section {
  height: 60vh;
  overflow-y: auto;
  width: 80%;
  margin: 0 auto 25px;
}
.input-section {
  width: 80%;
  margin: 0 auto;
}

li {
  background-color: rgb(218, 235, 249);
  /* border: 2px solid black; */
  padding: 0.5em 0.8em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

span {
  display: inline-block;
  line-height: 20px;
  font-size: 18px;
  width: 90%;
}

.input-container {
  background-color: rgb(218, 235, 249);
  /* border: 2px solid black; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1em;
  border-radius: 5px;
}
input[id="addTodoInput"] {
  border: none;
  font-size: 16px;
  padding: 0.7em 0;
  outline: none;
  width: 95%;
  background-color: transparent;
}

/* ...........icons............ */
.bi {
  font-size: 20px;
}

.bi-trash:hover {
  color: rgb(134, 4, 4);
}

.bi-star-fill,
.bi-star:hover {
  color: goldenrod;
}

.bi-check-circle-fill,
.bi-circle:hover {
  color: rgb(4, 4, 150);
}

.bi-plus {
  font-size: 24px;
}

/* ...........scrollbar.............. */
::-webkit-scrollbar {
  width: 15px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-track {
  background-color: #26a6fb; /* Set the background color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #036bd2; /* Set the color of the thumb */
  border-radius: 6px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #045db7; /* Set the color of the thumb on hover */
}
